/**
* Author: Roia L Tembo
**/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: DMSans;
  src: local(DMSans-Bold), url(/path/to/DMSans-Bold.woff2) format("woff2"),
    url(/path/to/DMSans-Bold.woff) format("woff"),
    url(/path/to/DMSans-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

/*--------------------------------------------------------------
  # Variable Declarations
  --------------------------------------------------------------*/

:root {
  --text-primary-color: #ffffff;
  --background-primary: #37312f;
  --text-secondary-color: #37312f;
  --background-secondary: #bdbb83;
  --fluid-h2-font: clamp(40px, 28.5714px + 3.5714vi, 80px);
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

a {
  color: var(--text-primary-color);
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

.content-button {
  padding: 16px 40.5px;
  letter-spacing: 2px;
  font-size: 14px;
  cursor: pointer;
  border: solid 1px white;
}

.text-style {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero-section {
  width: 100%;
}

.splide-hero .splide__slide {
  height: 100vh;
}

.hero-section .image-section img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-856 {
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-slider {
  height: 100%;
  margin: 0 auto;
  max-width: 880px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-slider span {
  color: #ffffff;
  padding-bottom: 22px;
  text-align: center;
  display: block;
}

.content-slider h2 {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: -1px;
  padding-bottom: 20px;
}

.content-slider p {
  max-width: 550px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.5;
  color: #ffffff;
  padding-bottom: 30px;
  text-align: center;
}

.content-slider a:hover {
  background-color: var(--text-secondary-color);
}

.splide__arrow {
  background-color: transparent;
  opacity: 1;
}

.splide-hero .splide__arrow--prev {
  margin-left: 41px;
}

.splide-hero .splide__arrow--next {
  margin-right: 41px;
}

.splide__pagination {
  padding-left: 20px;
}

.splide__pagination__page {
  width: 10px;
  height: 10px;
  border-radius: 0;
  background-color: transparent;
  border: solid 2px #ffffff;
  margin-right: 20px;
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
  # Carousel Section
  --------------------------------------------------------------*/

.carousel-section {
  margin: 20px 0;
  position: relative;
}

.content-carousel {
  width: 100%;
}

.content-carousel .text-style {
  font-size: 12px;
  color: #656a3e;
}

/*--------------------------------------------------------------
  #Three column card section
  --------------------------------------------------------------*/

.three-column-section {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 100px;
  position: relative;
}

.three-column-container {
  list-style-type: none
}

.three-column-container li {
  background-color: var(--background-primary);
  min-height: 43vw;
  position: relative;
}

.three-column-container .image-section img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  bottom: 0;
}

.content-three-column {
  color: var(--text-primary-color);
  margin: 40px 0 0 40px;
}

.three-column-section .splide__arrow--prev {
  margin-left: -14px;
}

.three-column-section .splide__arrow--next {
  margin-right: -14px;
}

.content-three-column h2 {
  font-weight: 400;
}

.content-three-column a {
  cursor: pointer;
  padding-top: 5px;
  font-weight: normal;
  font-size: 12px;
}

.video-container {
  position: relative;
  margin-top: 10px;
  min-height: 25vw;
}


.overlay img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s;
}

.video-container-content {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container-content p {
  font-size: 30px;
  color: var(--text-primary-color);
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-top: 15px;
  text-align: center;
  z-index: 2;
}

.video-container-content img {
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

.video-container-content img:hover {
  transform: scale(1.1);
}

iframe {
  width: 100%;
  object-fit: cover;
}

/*--------------------------------------------------------------
  # Two column slide section
  --------------------------------------------------------------*/

.two-column-slide-section {
  width: 100%;
  padding-left: 80px;
}

.two-column-slide-container {
  display: flex;
  justify-content: end;
  margin-bottom: 100px;
  width: 100%;
  position: relative;
}

.two-column-slide-container > div {
  margin-left: 30px;
}

.column-content {
  max-width: 240px;
}

.column-content h2 {
  font-size: 40px;
  color: var(--text-secondary-color);
  letter-spacing: -0.5px;
  font-weight: 500;
}

.column-content p {
  font-size: 14px;
  line-height: 24px;
  margin: 14px 0 30px 0;
}

.column-content a {
  background-color: var(--background-secondary);
  color: var(--text-secondary-color);
}

.column-content a:hover {
  background-color: var(--text-primary-color);
  border: solid 1px var(--background-primary);
}

.splide-four-column {
  width: 75%;
}

.splide-four-column .splide__arrow--prev {
  opacity: 0;
}

.splide-four-column .splide__arrow--next {
  margin-right: -14px;
}

.two-column-container {
  width: 100%;
}

.two-column-container li {
  max-width: 240px;
  min-height: 370px;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.two-column-container li:hover {
  box-shadow: 7px 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.badge {
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
}

.sale-badge {
  background-color: var(--text-secondary-color);
  color: var(--text-primary-color);
}

.new-badge {
  background-color: var(--background-secondary);
  color: var(--text-secondary-color);
}

.content-two-column {
  max-width: 180px;
  margin: 30px 30px 0;
  height: 40%;
  position: relative;
}

.content-two-column h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--text-secondary-color);
}

.content-two-column span {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--text-secondary-color);
}

.price-footer {
  position: absolute;
  bottom: 0;
}

.content-two-column .image-section img {
  margin-top: 10px;
}

/*--------------------------------------------------------------
  # Two Row Section
  --------------------------------------------------------------*/

.two-row-section {
  padding: 80px 30px;
}

.container-1330 {
  max-width: 1330px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 80px 0;
  justify-content: space-between;
}

.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two-row-content {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.two-row-content h2 {
  font-size: 40px;
  letter-spacing: -0.5px;
  font-weight: 500px;
  color: var(--text-secondary-color);
}

.two-row-content p {
  margin: 15px 0 30px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

.two-row-content a {
  border: solid 1px var(--text-secondary-color);
  color: var(--text-secondary-color);
}

.two-row-content a:hover {
  background-color: var(--background-secondary);
}

/*--------------------------------------------------------------
  # Call To Action Section
  --------------------------------------------------------------*/

.cta-section {
  position: relative;
  padding: 0 10px;
}

.cta-1 {
  margin: 0 auto;
  min-height: 704px;
  position: relative;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.cta-1 .image-section {
  display: flex;
  justify-content: center;
}

.seal {
  position: absolute;
  top: -10%;
}

.quote-road {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.container-700 {
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-700 h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: var(--text-primary-color);
  margin-bottom: 11px;
  text-align: center;
}

.container-700 .image-section {
  margin-bottom: 15px;
}

.container-700 p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: center;
  color: var(--text-primary-color);
  margin-bottom: 10px;
}

.container-700 h5 {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-primary-color);
}

.container-700 a {
  border: solid 1px var(--text-primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.container-700 a:hover {
  background-color: var(--background-secondary);
  color: var(--text-secondary-color);
}

.cta-2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.cta-2 ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: calc(100% - 120px);
  z-index: 2;
  position: relative;
  left: 60px;
  margin-top: -50px;
  margin-bottom: 100px;
}

.cta-2 ul li {
  margin-left: 60px;
}

.cta-2 ul li:hover {
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

.content-cta-2 {
  margin: 30px;
}

.content-cta-2 h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: var(--text-secondary-color);
}

.content-cta-2 a {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--text-secondary-color);
}

.content-cta-2 a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
  # Gallery Section
  --------------------------------------------------------------*/

.gallery-section {
  padding: 0 10px;
  width: 100%;
}

.gallery-section .gallery-container .row-section:first-of-type .image-section:first-of-type {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-social {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-social .image-section img {
  max-width: 100%;
}

.overlay-social h2 {
  margin: 15px 0 10px;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.5px;
  color: var(--text-primary-color);
}

.overlay-social span {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42;
  letter-spacing: 2px;
  text-align: center;
  color: var(--text-primary-color);
}

.gallery-container .row-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.gallery-container .row-section .image-section {
  margin-left: 10px;
  width: 22%;
}

.row-section .image-section {
  position: relative;
  overflow: hidden;
}


.gallery-container .image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-container .image-section:hover img {
  transform: scale(1.1);
}

.gallery-container .row-section:first-of-type .image-section:nth-child(2) {
  width: 39%;
}


.gallery-container .row-section:nth-child(2) .image-section:nth-child(3) {
  width: 39%;
}

/* Mobile Screens (<1000px) */

@media only screen and (max-width: 1000px) {

  .hero-section {
    height: 100vw;
  }

  .splide-hero .splide__slide {
    height: 100vw;
  }

  .hero-section .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .splide__pagination__page {
    border-color: var(--text-secondary-color);
    background-color: var(--text-secondary-color);
  }

  .container-856 {
    background-color: #f8f6f4;
  }
  
  .hero-section .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .content-slider {
    display: block;
    padding: 40px;
  }

  .content-slider span {
    color: var(--text-secondary-color);
  }
  .content-slider h2 {
    color: var(--text-secondary-color);
    font-size: 50px;
    line-height: 50px;
  }

  .content-slider p {
    color: var(--text-secondary-color);
  }

  .content-slider a {
    color: var(--text-secondary-color);
    border-color: var(--text-secondary-color);
    display: block;
    margin: 0 auto;
  }

  .splide__arrow {
    display: none;
  }

  .three-column-container .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }

  .content-three-column {
    /* position: relative; */
  }

  .two-column-slide-container {
    display: flex;
    flex-direction: column;
  }

  .splide-four-column {
    width: 100%;
    padding-top: 40px;
  }

  .row {
    flex-direction: column;
  }

  .two-row-content {
    order: 3;
  }

  .two-row-content .image-section {
    order: 2;
  }

  .two-row-content h2{
    margin: 40px 0 15px 0;
  }

  .cta-2 {
    padding: 0 20px;
  }

  .cta-2 ul{
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: 0;
  }
  .cta-2 ul li {
    margin-left: 0;
  }

  .gallery-container .row-section {
    flex-direction: column;
  }

  .overlay-social .image-section img {
    max-width: 25%;
  }

  .gallery-container .row-section .image-section {
    margin-left: 0;
    width: 100%;
  }

  .gallery-container .row-section:first-of-type .image-section:nth-child(2) {
    width: 100%;
  }
  
  .gallery-container .row-section:nth-child(2) .image-section:nth-child(3) {
    width: 100%;
  }

}