/**
* Author: Roia L Tembo
**/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: DMSans;
    src: local(DMSans-Bold),
      url(/path/to/DMSans-Bold.woff2) format("woff2"),
      url(/path/to/DMSans-Bold.woff) format("woff"),
      url(/path/to/DMSans-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  
  /*--------------------------------------------------------------
  # Variable Declarations
  --------------------------------------------------------------*/
  
  :root {
    --scarborough-black: #128b57;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  
  * {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-wrap: break-word;
    overflow-x: hidden;
  
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  ul {
    padding: 0px;
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .content-button {
    padding: 16px 40.5px;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    border: solid 1px white;
  }

  .text-style {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
  }


  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

  .hero-section {
    height: 100vh;
  }


  .splide-hero .splide__slide {
    height: 100vh;
  }

  .hero-section .image-section img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  
  }

  .container-856 {
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }


  .content-slider {
    height: 100%;
    margin: 0 auto;
    max-width: 880px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-slider span {
    color: #ffffff;
    padding-bottom: 22px;
  }

  .content-slider h2 {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: -1px;
    padding-bottom: 20px;
  }

  .content-slider p {
    max-width: 550px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.5;
    color: #ffffff;
    padding-bottom: 30px;
    text-align: center;
  }
  .splide__arrow {
    background-color: transparent;
  }

  .splide__arrow--prev {
    margin-left: 41px;
  }

  .splide__arrow--next {
    margin-right: 41px;
  }

  .splide__pagination {
    padding-left: 20px;
  }

  .splide__pagination__page {
    width: 10px;
    height: 10px;
    border-radius: 0;
    background-color: transparent;
    border: solid 2px #ffffff;
    margin-right: 20px;
    margin-bottom: 30px;
  }